table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        border: 1px solid #ddd;
        padding: .35em;
    }

        table tr:nth-child(even) {
            background: #f8f8f8;
        }

    table th,
    table td {
        padding: .625em;
        text-align: left;
    }

    table th {
        background: rgb(0, 0, 0);
        color: #fff;
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.contenedor2 {
    padding-top: 50px;
    padding-bottom: 150px;
}

.subtitulo {
    padding-top: 10px;
    padding-bottom: 10px;
}
